footer {
  margin-top: 100px;
  /* background-color: tomato; */
  text-align: center;
  color: white;
  /* position:absolute; */
  /* bottom: 0; */
  /* -webkit-transform: translateX(200%);
      -moz-transform: translateX(200%);
      transform: translateX(200%) ; */
}
