.stackContainer {
  margin-top: 5%;
  text-align: center;
}

.content {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

.satu {
  height: 4rem;
  width: 4rem;
  background-image: url(~@/assets/images/vsc.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.satu:hover {
  transition: 0.2s ease-in-out;
  height: 5rem;
  width: 5rem;
}

.dua {
  height: 4rem;
  width: 4rem;
  background-image: url(~@/assets/images/html5-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.dua:hover {
  transition: 0.2s ease-in-out;
  height: 5rem;
  width: 5rem;
}

.tiga {
  height: 4rem;
  width: 4rem;
  background-image: url(~@/assets/images/css3-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.tiga:hover {
  transition: 0.2s ease-in-out;
  height: 5rem;
  width: 5rem;
}

.empat {
  height: 4rem;
  width: 4rem;
  background-image: url(~@/assets/images/nuxt.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.empat:hover {
  transition: 0.2s ease-in-out;
  height: 5rem;
  width: 5rem;
}

.lima {
  height: 4rem;
  width: 4rem;
  background-image: url(~@/assets/images/figma.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.lima:hover {
  transition: 0.2s ease-in-out;
  height: 5rem;
  width: 5rem;
}

.enam {
  height: 4rem;
  width: 4rem;
  background-image: url(~@/assets/images/git.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.enam:hover {
  transition: 0.2s ease-in-out;
  height: 5rem;
  width: 5rem;
}

.tujuh {
  height: 4rem;
  width: 4rem;
  background-image: url(~@/assets/images/logo-stackoverflow.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.tujuh:hover {
  transition: 0.2s ease-in-out;
  height: 5rem;
  width: 5rem;
}

.delapan {
  height: 3.5rem;
  width: 9rem;
  background-image: url(~@/assets/images/nodejs.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.delapan:hover {
  transition: 0.2s ease-in-out;
  height: 4rem;
  width: 10rem;
}

@media only screen and (max-width: 455px) {
  .content {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
  }
}
